/* Global Styles */
:root{
    --roze: #ed686b; 
    --view-ratio: 1rem;
    --shadow-color-1: #232323;
    --gray-color-1: #363231;
    --gray-color-2: #4d4747;
}
body{
    background-color: var(--roze);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
/* Paint Styles */
.paint {
    display: block;
    width: calc(30*var(--view-ratio));
    height: calc(25*var(--view-ratio));
    border: rgba(0,0,0,.4)solid thin;
}
/* Car Styles */
.car {
    width: 85%;
    height: 100%;
    margin: auto;
    position: relative;
}
.car > * {
    position: absolute;
    left: 0;
    margin: auto;
    width: 100%;
}
.car-body{
    height: 96%;
}
/* Tire Wheel style */
.tires{
    position: absolute;
    bottom: calc(-.3*var(--view-ratio));
    width: 85%;
    left: 7.5%;
    height: 25%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}
.tires .wheel {
    background-color: var(--shadow-color-1);
    width: calc(2.8*var(--view-ratio));
    height: 90%;
    border-radius: 20%;
    border: solid calc(.35*var(--view-ratio)) var(--shadow-color-1);
}
.tires .wheel .gray {
    background: var(--gray-color-2);
    width: 100%;
    height: 100%;
    border-radius: 15%;
    overflow: hidden;
}
.tires .wheel .shadow-1 {
    background: var(--gray-color-1);
    width: 150%;
    height: 92%;
    border-radius: 40%;
    display: block;
    margin: -5% -25%;
}
/* Car Shadow Style */
.car-shadow{
    bottom: 0;
    background-color: var(--shadow-color-1);
    border-radius: 50%;
    height: 4%;
}
