/* Global Styles */
:root{
    --roze: #ed686b; 
    --view-ratio: 1rem;
    --shadow-1: #232323;
    --gray-1: #363231;
    --gray-2: #4d4747;
    --gray-3: #bebebe;
    --gray-4: #e6e6e6;
    --wihte-1: #ffffff;
    --white-2: #e7e7e6;
    --orange-1: #b46f37;
    --orange-2: #ed8f41;
}
body{
    background-color: var(--roze);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
/* Diagram Styles */
.diagram {
    display: block;
    width: calc(35*var(--view-ratio));
    height: calc(30*var(--view-ratio));
    border: rgba(0,0,0,.4)solid thin;
}
/* Car Styles */
.car {
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
}
.car > * {
    position: absolute;
    inset-inline-start: 0;
    margin: auto;
    width: 100%;
}
.car-body{
    height: 98%;
}
/* Car body */
.car-body > *{
    position: absolute;
}
.car-body .car-frame{
    width: 90%;
    height: 34%;
    inset-inline-start: 5%;
    bottom: 12%;
    background-color: var(--shadow-1);    
    display: block;
    z-index: 2;
    border-start-start-radius: 20% 50%;
    border-end-start-radius: 20% 50%;
    border-start-end-radius: 20% 50%;
    border-end-end-radius: 20% 50%;
    box-sizing: border-box;
}
.car-body .car-frame .paint{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: var(--roze);
    border-start-start-radius: 20% 50%;
    border-end-start-radius: 20% 50%;
    border-start-end-radius: 20% 50%;
    border-end-end-radius: 20% 50%;
    position: relative;
    border: solid calc(.35*var(--view-ratio)) var(--shadow-1);
}
.car-body .car-frame > *{
    position: absolute;
}
.car-body .head-lights{
    height: 30%;
    width: 100%;
    inset-block-start: 18%;
    display: flex;
    justify-content: space-between;
}
.car-body .head-lights .cover{
    height: calc(3.5*var(--view-ratio));
    width: calc(3.2*var(--view-ratio));
    border: calc(.24*var(--view-ratio)) var(--shadow-1) solid;
    border-radius: 50%;
    margin-inline: 2%;
}
.car-body .head-lights .light{
    background: var(--wihte-1);
    width: 76%;
    height: 67%;
    border-radius: 50%;
    border: calc(.38*var(--view-ratio)) var(--shadow-1) solid;
    margin: -2% auto;
    box-shadow: 0 0.35rem 0rem var(--gray-3) inset;
}
.car-body .front-bumper{
    width: 100%;
    height: 33%;
    bottom: 6%;
    display: flex;
    justify-content: space-between;
}
.car-body .front-bumper > *{
    width: auto;

}
.car-body .front-bumper .side{
    border: calc(0.25 *var(--view-ratio)) var(--shadow-1) solid;
    flex: 1 1 44%;
    height: 91%;
    background: var(--wihte-1);
    overflow: hidden;
    position: relative;
}
.car-body .front-bumper .side:first-of-type{
    border-start-start-radius: 4% 10%;
    border-end-start-radius: 45% 90%;
    border-start-end-radius: 22% 66%;
    border-end-end-radius: 10% 4%;
    box-shadow: 0.05rem -0.4rem 0rem var(--gray-3) inset;
    margin-inline-start: 2%;
}
.car-body .front-bumper .side:last-of-type{
    border-start-end-radius: 4% 10%;
    border-end-end-radius: 45% 90%;
    border-start-start-radius: 22% 66%;
    border-end-start-radius: 10% 4%;
    box-shadow: 0.05rem -0.4rem 0rem var(--gray-3) inset;
    margin-inline-end: 2%;
}
.car-body .front-bumper .bumper{
    background: var(--gray-1);
    border: calc(.2 *var(--view-ratio)) var(--shadow-1) solid;
    width: 92%;
    height: 40%;
    position: absolute;
    inset-block-start: 18%;
}
.car-body .front-bumper .side:first-of-type .bumper{
    border-start-start-radius: 0;
    border-end-start-radius: 0;
    border-start-end-radius: 15% 88%;
    border-end-end-radius: 3% 14%;
    box-shadow: 0.05rem 0.4rem 0rem var(--shadow-1) inset;
    inset-inline-start: 0;
}
.car-body .front-bumper  .side:last-of-type .bumper{
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    border-start-start-radius: 15% 88%;
    border-end-start-radius: 3% 14%;
    box-shadow: 0.05rem 0.4rem 0rem var(--shadow-1) inset;
    inset-inline-end: 0;
}
.car-body .bumper .fog-lamp{
    background: var(--orange-2);
    border: calc(.2 *var(--view-ratio)) var(--shadow-1) solid;
    width: 32%;
    height: 72%;
    box-shadow: 0.1rem 0.3rem 0rem var(--orange-1) inset;
    position: absolute;
    inset-block-start: 0;
}
.car-body .side:first-of-type .fog-lamp{
    inset-inline-start: -2%;
    border-start-start-radius: 0;
    border-end-start-radius: 41% 9%;
    border-start-end-radius: 26% 68%;
    border-end-end-radius: 3% 14%;
}
.car-body .side:last-of-type .fog-lamp{
    inset-inline-end: -2%;
    border-start-end-radius: 0;
    border-end-end-radius: 41% 9%;
    border-start-start-radius: 26% 68%;
    border-end-start-radius: 3% 14%;
}
.car-body .front-bumper .grill-heart{
    flex: 1 1 12%;
    height: 100%;
    background-color: red;
    margin-inline: 1%;
    background: var(--wihte-1);
    border-start-start-radius: 20% 20%;
    border-start-end-radius: 20% 20%;
    border-end-start-radius: 50% 50%;
    border-end-end-radius: 50% 50%;
}
.car-body .front-bumper .grill-heart .grill{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.grill span{
    margin: 3% auto;
    background-color: var(--gray-1);
    display: block;
    height: 13%;
    border-start-start-radius: 25% 25%;
    border-start-end-radius: 20% 20%;
    border-end-start-radius: 20% 20%;
    border-end-end-radius: 20% 20%;
}
.grill span:nth-of-type(1){
    width: 75%;
}
.grill span:nth-of-type(2){
    width: 65%;
}
.grill span:nth-of-type(3){
    width: 60%;
}
.grill span:nth-of-type(4){
    width: 55%;
    border-start-start-radius: 25% 25%;
    border-start-end-radius: 20% 20%;
    border-end-start-radius: 20% 20%;
    border-end-end-radius: 20% 20%;
}
.grill span:nth-of-type(5){
    width: 40%;
    border-start-start-radius: 10% 32%;
    border-start-end-radius: 10% 32%;
    border-end-start-radius: 50% 50%;
    border-end-end-radius: 50% 50%;
}
.car-body .side-mirror {
    width: calc(1.2*var(--view-ratio));
    height: calc(1.35*var(--view-ratio));
    background: var(--gray-4);
    inset-block-start: -6%;
    inset-inline-end: 4%;
    border: calc(.3 *var(--view-ratio)) var(--shadow-1) solid;
    border-radius: 50%;
    z-index: -1;
}
.car-body .antenna{
    width: calc(.5*var(--view-ratio));
    height: calc(1*var(--view-ratio));
    background: var(--gray-4);
    inset-block-start: 0%;
    inset-inline-start: 12%;
    z-index: -1;
    border-radius: 30%;
    rotate: 0 0 1 2deg;
}
.car-body .antenna .mast{
    width: 0;
    height: 0;
    inset-block-end: 87%;
    inset-inline-start: 120%;
    display: block;
    position: absolute;
    rotate: 0 0 1 5deg;
    border-left: calc(.14 *var(--view-ratio)) solid transparent;
    border-right: calc(.14 *var(--view-ratio)) solid transparent;
    border-bottom: calc(11 *var(--view-ratio)) solid var(--gray-4);
}































.car-body .car-frame .splash-shield{
    width: 67%;
    height: 14%;
    display: block;
    background-color: var(--shadow-1);
    position: absolute;
    bottom: -14%;
    inset-inline-start: 16.5%;
    border-radius: 18%;
    border-end-start-radius: 4% 55%;
    border-end-end-radius: 4% 55%;
}
/* Tire Wheel style */
.tires{
    bottom: 1%;
    width: 85%;
    inset-inline-start: 7.5%;
    height: 20%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    z-index: 1;
}
.tires .wheel {
    background-color: var(--shadow-1);
    width: 12.3%;
    height: 100%;
    border-radius: 20%;
    border: solid calc(.3*var(--view-ratio)) var(--shadow-1);
    position: relative;
    overflow: hidden;
}
.tires .wheel .gray {
    background: var(--gray-2);
    width: 100%;
    height: 100%;
    border-radius: 15%;
}
.tires .wheel .shadow-1 {
    background: var(--gray-1);
    width: 150%;
    height: 90%;
    border-radius: 40%;
    display: block;
    margin: -5% -25%;
}
.tires .wheel .shadow-2 {
    background: var(--shadow-1);
    width: 200%;
    height: 57%;
    border-radius: 92%;
    display: block;
    position: absolute;
    inset-block-start: 0%;
    margin-inline: -25%;
}
.tires .wheel:first-of-type .shadow-2 {
    inset-inline-start: 0;
    rotate: 0 0 1 32deg;
}
.tires .wheel:last-of-type .shadow-2 {
    inset-inline-end: 0;
    rotate: 0 0 1 -32deg;
}
/* Car Shadow Style */
.car-shadow{
    bottom: 0;
    background-color: var(--shadow-1);
    border-radius: 50%;
    height: 4%;
}
